.idea
/upload
tovar
/perenos
*.zip
*.rar
*.txt
*.jpg
*.log
*.xml
Thumbs.db
.DS_Store
._.DS_Store


bitrix/backup/
/tovrs_files
/tovrstovr_files
/1244_files
/3d

*.swp
*.log
.idea/
*tar.gz
*.txt
.tpl
.well-known/
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/bitrix/activities/
/bitrix/managed_cache/
/bitrix/cache/
/bitrix/backup/
/bitrix/catalog_export/
/bitrix/tmp/
/bitrix/stack_cache/
/bitrix/updates/
/bitrix/blocks
/bitrix/catalog_export
/bitrix/html_pages
/bitrix/image_uploader
/bitrix/sounds/
/upload/
/import/
/gitpull/

bitrix/cache
bitrix/managed_cache
bitrix/stack_cache