/* Главная */

.darken-bg-animate:before {
    opacity: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0, 5%);
    transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    z-index: 11;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.darken-bg-animate:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40%;
    transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    z-index: 1;
    background: -moz-linear-gradient(90deg,rgba(0,0,0) 0,rgba(0 0 0 / 10%) 100%);
    background: -webkit-linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0 0 0 / 10%) 100%);
    background: -o-linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0 0 0 / 10%) 100%);
    background: -ms-linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0 0 0 / 10%) 100%);
    background: linear-gradient(180deg,rgba(0,0,0,0) 0,rgb(0 0 0 / 10%) 100%);
}

element.style {
}
.BIG_BANNER_INDEX>.maxwidth-theme .top_big_banners.short_block .flex-viewport, .BIG_BANNER_INDEX>.maxwidth-theme .top_big_banners.short_block .item .item_inner {
    border-radius: 3px;
}
@media (min-width: 992px)
.top_big_banners.short_block .items .item .item_inner {
    height: 220px;
}
.top_big_banners .item .item_inner {
    position: relative;
    overflow: hidden;
    height: 275px;
}
.darken-bg-animate {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body .front_page>.wraps>.right_block>.wrapper_inner>*, body .front_page>.wraps>.wrapper_inner .middle {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fancybox-title, body, body .ymaps-map .ymaps-b-balloon, body div.bx-yandex-map {
    font: 15px/25px Montserrat,Arial,sans-serif;
}
body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    /* color: #333; */
    background-color: #fff;
}
html {
    font-size: 15px;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media (min-width: 992px){
.top_big_banners.short_block.v2 .top_slider_wrapp .flexslider, .top_big_banners.short_block.v2 .top_slider_wrapp .flexslider .slides>li, .top_big_banners.short_block.v2 .top_slider_wrapp .flexslider .slides>li td {
    height: 440px;
}}

/* Шапка */
.menu-only {
height: 46px;
}
items-wrapper flexbox flexbox--row justify-content-between {
    height: 36px;
}
.menu-row.middle-block .mega-menu table td .wrap&gt;a {
    padding-top: 10px;
}
menu-row middle-block bglight bg_none {
    height: 40px;
}


/* Подписка на рассылку - Настройка скрыто, Текст выведен */
.settings.font_upper.pull-right.dark-color {
display: none;
}


/* Хлебные крошки и H1 */
.page-top&gt;div {
    padding: 20px 0 0;
}
.page-top&gt;div:last-of-type {
    padding: 14px 0 28px;
}
/* Каталог */
/* Каталог - Разделы сверху */
.section-compact-list__item {
    padding: 14px 8px;
}
.top-content-block&gt;div {
    padding-bottom: 16px;
}
@media (min-width: 1200px){
.top-content-block .section-block .section-compact-list .row.margin0.flexbox {
flex-wrap: inherit;
}
/* Каталог - Блок количества - "Много" в товаре */
.sa_block {
display:none;
}
/* Каталог - Фотографии в товаре */
.catalog_block .catalog_item&gt;div {
padding: 4px 4px 0 4px;
}
.ajax_load .top_wrapper .catalog_block .catalog_item&gt;div {
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
}
.vertical-catalog-img .image_wrapper_block {
padding-top: 132%;
}
.bx_filter_vertical input[type=checkbox]+label.sku, .sku_props .bx_item_detail_size ul li {
border: none;
padding: 0 4px;
}
/* Каталог - Отступы в товаре */
.sku_props&gt;div:last-of-type {
padding-bottom: 4px;
}
.catalog_block .catalog_item&gt;div .item_info {
    padding-bottom: 16px;
}
.catalog_item .image_wrapper_block {
    margin: 0 auto 10px;
}
.catalog_block .TYPE_2 .cost.prices {
    margin-top: 6px;
    padding-top: 1px;
}
/* Каталог - Размеры в товаре */
// button.button, input.button, .button, #header ul.menu.full.opened li:not(.search_row):hover, #header ul.menu.full&gt;li.search_row #search-submit-button:hover, table.title-search-result td.title-search-all a .icon, .flex-direction-nav li:hover, .flex-control-nav li .flex-active:before, .flex-control-nav li a:hover:before, .top_slider_wrapp .flex-direction-nav li:hover, .like_icons .wish_item.added, .like_icons .compare_item.added, .light .stores .all_map, .block_wr.dark, .header_wrap #header .middle-h-row .logo_wrapp .logo a, .h_color_colored .header_wrap #header, .registraion-page .top p:after, .has_menu.m_color_colored #header .catalog_menu, .module-cart .remove-cell a:hover, .cart_shell .remove-cell a:hover, .bx_item_set_hor .bx_item_set_hor_item a.remove, .bx_filter .bx_filter_parameters_box_title:before, .bx_filter_vertical input[type="checkbox"]+label:before, .filter input[type="checkbox"]+label:before, .filter input[type="radio"]+label:before, .bx_filter label.pal:hover .bx_filter_param_btn, .bx_filter .bx_filter_param_label.active .bx_filter_param_btn, .bx_filter_vertical input[type="checkbox"]:checked+label.sku, .left_block .internal_sections_list li.cur, .left_block .internal_sections_list li:hover, .left_block .internal_sections_list .title .inner_block:hover:before, .left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur:before, .left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item:hover:before, .left_block .internal_sections_list .child_wrapp ul.child li.cur:after, .left_block .internal_sections_list .child_wrapp ul.child li:hover:after, body #content .props_list tr td&gt;span:before, body #content .props_list tr td&gt;.txt:before, .module-pagination .nums .cur, .more_text_ajax:before, .captcha_reload:before, .sku_props .bx_item_detail_size ul li.active, .bx_size_scroller_container .bx_size ul li.bx_active, .bx_catalog_item_scu .bx_item_detail_scu ul li.active span:not(.cnt_item), .ik_select_list .ik_select_list_inner ul li.ik_select_active, .bx_filter_select_popup ul li label.selected, .filter_opener.opened, .wr_scrollbar .scrollbar .handle, a i.arrow, .popup-window-close-icon.popup-window-titlebar-close-icon:hover, .bx_kit_item .bx_kit_item_add, .catalog_detail .offers_table td.opener:hover .opener_icon, .opener_icon:hover, .char_name .hint .icon:hover, .char_name .hint.active .icon, .location-block-wrapper .bx-sls .bx-ui-sls-clear:before, h4:hover .opener_icon, .bg_block:before, #order_form_div input[type="submit"], .module-order-history .item_name:hover .icon, .module-order-history .item_name:hover .icon, .faq.list .item .q:hover .opener_icon, .jobs_wrapp .item .name tr:hover .opener_icon, .owl-carousel.owl-theme.owl-bg-nav .owl-nav button:hover:not(.disabled) {
color: #b67e64;
background: none;
font-weight: bold;
}
// .bx_filter .sku .bx_filter_input_checkbox .bx_filter_param_text, .sku_props .bx_item_detail_size ul li span {
font-weight: bold;
}
.bx_filter .sku .bx_filter_input_checkbox .bx_filter_param_text, .sku_props .bx_item_detail_size ul li span {
padding: 7px 4px 7px;
}
/* Страница товара - Карточка товара */
.product-container .product-detail-gallery__slider.vertical {
    max-height: 600px;
}
.product-container .product-info.product-info--type2 .product-detail-gallery__slider.vertical .product-detail-gallery__item.product-detail-gallery__item--middle {
    height: 600px;
    line-height: 500px;
}
.product-container .product-detail-gallery__item.product-detail-gallery__item--middle {
    height: 377px;
    width: 600px;
    max-width: 100%;
}
.info_ext_block {
display: none;
}

/*Цветная мобильная шапка*/
#mobileheader .mobileheader-v1 {
    background: #bd8d76;
}
#mobileheader .mobileheader-v1 {
    color: #fff;
}
@media (max-width: 380px){
body .product-container .product-view--mix .big .product-detail-gallery__item, body .product-container .product-view--mix .product-detail-gallery__slider {
    width: 250px;
    max-height: 430px;
}}
/*Баннеры десктоп - размеры и скругления*/
.top_big_banners.short_block.v2 .top_slider_wrapp .flexslider, .top_big_banners.short_block.v2 .top_slider_wrapp .flexslider .slides&gt;li, .top_big_banners.short_block.v2 .top_slider_wrapp .flexslider .slides&gt;li td {
    border-radius: 10px;
}
.BIG_BANNER_INDEX&gt;.maxwidth-theme .top_big_banners.short_block .flex-viewport, .BIG_BANNER_INDEX&gt;.maxwidth-theme .top_big_banners.short_block .item .item_inner {
    border-radius: 6px;
}
/* Телефон на плашете отображение */
@media only screen and (max-width: 1290px){
.logo_and_menu-row .float_wrapper {
   display: block; 
}}


/* Тизеры главная */

.wrapper1:not(.with_left_block) .wrapper_inner.front .drag-block.container .content_wrapper_block&gt;.maxwidth-theme {
    padding-top: 46px;
}
.wrapper1:not(.with_left_block) .wrapper_inner.front .drag-block.container .item-views.tizers {
    padding-bottom: 6px;
}